body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 12px;
}
.container h1, label, textarea, input, button {
    margin-bottom: 12px;
}